.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formDetails {
  width: 500px;
  height: auto;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px 4px;
}
.formCard {
  margin-top: 20px;
}
.formCard h3 {
  font-size: 30px;
  font-weight: bold;
  font-style: "Roboto";
  text-align: center;
  margin: 10px 10px;
  color: #1f1f1f;
}
.formData {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  width: 400px !important;
  border: 1px solid #ff9f00 !important;
  border-radius: 4px 4px;
}
.label {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 600;
  font-style: "Roboto";
  letter-spacing: 1;
}
.button {
  padding: 5px 8px;
  border: 1px solid #ff9f00;
  border-radius: 4px 4px 4px;
  background-color: #ff9f00;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 130px;
  margin-bottom: 18px;
}
.errormessage{
   color: red;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto";
}
@media screen and (max-width: 830px) {
  .formDetails {
    width: 350px;
  }
  .input {
    width: 250px !important;
  }
  .button {
    margin-left: 59px;
  }
}
